.nav-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 6px 5px;
	width: 100%;
}

.nav-title__group {
	display: flex;
	align-items: center;
	gap: 4px;
}

.nav-title__group .icon {
	padding: 4px 2px;
	gap: 10px;
	cursor: pointer;
}

.nav-title__group .title {
	font-size: 13px;
	color: var(--color-title);
	position: relative;
	top: 2px;
}
